<style media="screen">
    body,
    html {
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .gmnoprint img{
        border-radius: 50%;
    }
    .angular-google-map-container {
       height: 400px;
     }

</style>
<navbar/>
<div class="container">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="text-center" style="width:150px, height:100px">
                <img ng-src="{{$ctrl.user.image}}" class="avatar img-circle img-responsive" alt="avatar">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-6 col-lg-6 col-sm-6 personal-info">

            <div class="form-group">
                <h3 class="title">Personal info</h3>
            </div>

            <div class="form-horizontal" role="contentinfo">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <h4>{{$ctrl.user.firstName}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <h4>{{$ctrl.user.lastName}}</h4>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <h4>{{$ctrl.user.gender}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Justified">
              <h3>Map</h3>
              <ui-gmap-google-map center="$ctrl.map.center"
                                  zoom="$ctrl.map.zoom"
                                  options="$ctrl.map.options">
                <ui-gmap-marker ng-repeat="marker in $ctrl.markers"
                                coords="marker.coords"
                                idkey="marker.id"
                                icon="marker.icon"
                                click="marker.click"
                                options="marker.options"></ui-gmap-marker>
              </ui-gmap-google-map>
            </uib-tab>
            <uib-tab index="1" heading="SJ">
              <div class="">
                <label style="margin-top:10px">Find some friends: <input ng-model="searchText"></label>
              </div>
              <h3>List with users</h3>
              <ul ng-repeat="user in $ctrl.users | filter:searchText">
                  <li class="col-md-3 col-lg-3 col-sm-6">
                      <a href="/map/{{user.id}}">{{user.first_name + user.last_name}}</a>
                      <p>age: {{user.age}}</p>
                      <p>gender: {{user.gender}}</p>
                      <p>coordinats: {{user.latlon}}</p>
                  </li>
              </ul>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
